<ul class="uk-navbar-nav">
    <li>
        <a href="#">{{ 'app.language_switcher.language'|trans }}</a>
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">

                {% for link, language in language_switcher.localizedLinks(document, app.request.locale) %}
                    <li{% if language.isActive %} class="uk-active"{% endif %}>
                        <a href="{{ link }}">{{ language.display|upper }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </li>
</ul>
