# symfony default
/.web-server-pid
/build/
/phpunit.xml
/public/bundles/

# local config
/.env.local
/.env.local.php
/.env.*.local
!/config/local
/config/local/*
!/config/local/.gitkeep
/config/parameters.yaml

# Pimcore
/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject

!/var/config
/var/config/system.yml
/var/config/debug-mode.php
/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php
/var/config/reports.php

/public/var/
/public/sitemap*.xml

# composer
/vendor/
/cache/

# PhpStorm / IDEA
/.idea/

# Node / Webpack
/node_modules/
/yarn-debug.log
/yarn-error.log

# Project Setup
/install-deploy.php
