# Symfony default
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/web/bundles/

# Local config
/.env
!/app/config/local
/app/config/local/*
!app/config/local/.gitkeep

# Pimcore
/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject

!/var/config
/var/config/system.php
/var/config/debug-mode.php
/var/config/maintenance.php

# Project specific recommendations
/var/config/tag-manager.php
/var/config/reports.php

/web/var/
/web/sitemap*.xml

# PHP-CS-Fixer
/.php_cs
/.php_cs.cache

# Composer
/vendor/

# PhpStorm / IDEA
.idea

# Keep legacy paths ignored for easier migration
.temp
node_modules/
web/build/
