{% block lucene_search_content %}

    <div class="uk-alert-danger" data-uk-alert>
        <a class="uk-alert-close" data-uk-close></a>
        <p>{{ errorMessage }}</p>
    </div>

{% endblock lucene_search_content %}