{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="uk-alert uk-alert-{{ type }}" data-uk-alert>
            <a class="uk-alert-close" data-uk-close></a>
            <div class="uk-container uk-container-large">
                <p class="uk-alert-message uk-text-large">
                    {{ message|trans|raw }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endfor %}