{% set navStartNode = document.getProperty('navStartNode') %}
{% if navStartNode is empty %}
    {% set navStartNode = pimcore_document(1) %}
{% endif %}

<div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" data-uk-navbar="dropbar: true">

        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="{{ navStartNode }}">
                <img width="200" height="50" src="{{ asset('build/images/logo.svg') }}"
                     alt="{{ pimcore_website_config('name') }}">
            </a>

            <div class="uk-visible@s">
                {% include 'Navigation/navbar.html.twig' %}
            </div>

        </div>

        <div class="uk-navbar-right">

            {% include 'Navigation/language.html.twig' %}

            <div class="uk-hidden@s">
                <a class="uk-navbar-toggle" href="#off-canvas" data-uk-toggle>
                    <span data-uk-navbar-toggle-icon></span>
                </a>

                {% include 'Navigation/offcanvas.html.twig' %}
            </div>

        </div>

    </nav>
</div>

{# Flash Messages #}
{% include 'Layout/flash-messages.html.twig' %}
