{% extends 'layout.html.twig' %}

{% block content %}

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1>Fehler</h1>
        </div>
    </div>

{% endblock %}