// Base
@import 'components/variables.scss';
@import 'components/mixin.scss';
@import 'components/base.scss';

// Elements
@import 'components/link.scss';
@import 'components/heading.scss';
//@import 'components/divider.scss';
//@import 'components/list.scss';
//@import 'components/description-list.scss';
//@import 'components/table.scss';
@import 'components/icon.scss';
//@import 'components/form-range.scss';
@import 'components/form.scss'; // After: Icon, Form Range
@import 'components/button.scss';

// Layout
@import 'components/section.scss';
@import 'components/container.scss';
@import 'components/grid.scss';
//@import 'components/tile.scss';
@import 'components/card.scss';

// Common
@import 'components/close.scss'; // After: Icon
@import 'components/spinner.scss'; // After: Icon
//@import 'components/totop.scss'; // After: Icon
//@import 'components/marker.scss'; // After: Icon
//@import 'components/alert.scss'; // After: Close
//@import 'components/badge.scss';
//@import 'components/label.scss';
//@import 'components/overlay.scss'; // After: Icon
//@import 'components/article.scss'; // After: Subnav
//@import 'components/comment.scss'; // After: Subnav
@import 'components/search.scss'; // After: Icon

// Navs
@import 'components/nav.scss';
@import 'components/navbar.scss'; // After: Card, Grid, Nav, Icon, Search
@import 'components/subnav.scss';
//@import 'components/breadcrumb.scss';
//@import 'components/pagination.scss';
//@import 'components/tab.scss';
//@import 'components/slidenav.scss'; // After: Icon
//@import 'components/dotnav.scss';
//@import 'components/thumbnav.scss';

// JavaScript
//@import 'components/accordion.scss';
@import 'components/drop.scss'; // After: Card
@import 'components/dropdown.scss'; // After: Card
//@import 'components/modal.scss'; // After: Close
//@import 'components/lightbox.scss'; // After: Close
//@import 'components/slideshow.scss';
//@import 'components/slider.scss';
@import 'components/sticky.scss';
@import 'components/offcanvas.scss';
//@import 'components/switcher.scss';
//@import 'components/leader.scss';
// Scrollspy
// Toggle
// Scroll

// Additional
//@import 'components/iconnav.scss';
//@import 'components/notification.scss';
//@import 'components/tooltip.scss';
//@import 'components/placeholder.scss';
//@import 'components/progress.scss';
//@import 'components/sortable.scss';
//@import 'components/countdown.scss';

// Utilities
@import 'components/animation.scss';
@import 'components/width.scss';
@import 'components/height.scss';
@import 'components/text.scss';
@import 'components/column.scss';
@import 'components/cover.scss';
@import 'components/background.scss';
@import 'components/align.scss';
@import 'components/svg.scss';
@import 'components/utility.scss';
@import 'components/flex.scss'; // After: Utility
@import 'components/margin.scss';
@import 'components/padding.scss';
@import 'components/position.scss';
@import 'components/transition.scss';
@import 'components/visibility.scss';
@import 'components/inverse.scss';

// Need to be loaded last
//@import 'components/print.scss';
