{% extends 'layout.html.twig' %}

{% block content %}

    <div class="uk-section uk-section-muted uk-height-1-1">
        <div class="uk-container">

            {% if query %}
                {{ render(controller('LuceneSearchBundle:List:getResult')) }}
            {% else %}
                <h3 class="uk-margin-remove">{{ 'app.fulltext_search.no_results'|trans }}</h3>
            {% endif %}

        </div>
    </div>

{% endblock %}